.twofa_wrapper {
  text-align: center;
  margin-top: 50px;

  & h3 {
    font-size: 20px;
  }

  & h5 {
    font-size: 18px;
  }

  & span {
    margin: 10px;
  }
}

.codebar_scan img {
  height: 150px !important;
}

.twofa_icons {
  margin-bottom: 15px;
}

.authenticator_icon {
  margin: 15px 0px;
}

.twofa_input input {
  width: 500px;
  border-radius: 20px;
  margin: 10px 0px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0px 20px;
}

.twofa_input button {
  padding: 10px 50px;
  border-radius: 50px;
  border: 1px;
  background: #007bff;
  color: #fff;
  font-size: 15px;
}

.twofa2_wrapper {
  text-align: center;
  margin-top: 200px;

  & h3 {
    font-size: 20px;
  }

  & span {
    margin: 10px;
  }
}

.twofa2_input input {
  width: 500px;
  border-radius: 20px;
  margin: 10px 0px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0px 20px;
}

.twofa2_input button {
  padding: 10px 50px;
  border-radius: 50px;
  border: 1px;
  background: #007bff;
  color: #fff;
  font-size: 15px;
}
